/* [Humor: Ahh shii, here we go again] */
/* [CSS: global classes] */
.containerHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 45px;
}

.containerHeaderDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: fit-content;
    background-color: var(--color-surface);
    box-shadow: var(--shadow-elevation);
    height: 100%;
    padding: 5px 10px;
}

.containerHeaderLogo {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerHeaderText {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 20px;
}

.containerHeaderNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: fit-content;
}

.containerHeaderLeftNav {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-surface);
    box-shadow: var(--shadow-elevation);
}

.containerHeaderRightNav {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-surface);
    box-shadow: var(--shadow-elevation);
}

/* [CSS: glowave] */
.glowWave {
    position: fixed;
    top: -12.5rem;
    left: -12.5rem;
    width: 25rem;
    height: 25rem;
    background: radial-gradient(circle, rgba(165, 90, 255, 0.9), transparent 65%);
    filter: blur(5rem);
    pointer-events: none;
    z-index: -1;
    animation: pulseWave 6s ease-in-out infinite;
}

@keyframes pulseWave {

    0%,
    100% {
        transform: translate(0, 0) scale(1);
        opacity: 0.8;
    }

    25% {
        transform: translate(30px, 20px) scale(1.15);
        opacity: 1;
    }

    50% {
        transform: translate(10px, 40px) scale(0.9);
        opacity: 0.7;
    }

    75% {
        transform: translate(-20px, 30px) scale(1.1);
        opacity: 0.9;
    }
}

/* [CSS: navbar] */
.navbar {
    border: 0.0625rem solid rgba(255, 255, 255, .2);
    position: fixed;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 35px;
    padding: 10px 35px;
    border-radius: 0.9375rem;
    -webkit-backdrop-filter: blur(0.9375rem);
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.1);
    width: fit-content;
    transition: all 0.3s ease;
    height: fit-content;
    z-index: 1000;
    font-size: 14px;
    overflow: hidden;
}

.navbar::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 10px;
    height: 200%;

    background: linear-gradient(120deg,
            transparent,
            rgba(255, 255, 255, 0.6),
            transparent);

    transform: rotate(25deg);
    opacity: 0;
}

.navbar:hover::before {
    animation: swordDash 7s ease-out;
    opacity: 1;
}

@keyframes swordDash {
    0% {
        left: -40%;
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    100% {
        left: 120%;
        opacity: 0;
    }
}


[data-theme="light"] .navbar {
    border: 0.0625rem solid rgba(0, 0, 0, .2);
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(0.9375rem);
}

.navCont {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
}

.navCont img {
    height: 24px;
    width: 23px;
}

.nav {
    height: 100%;
    display: flex;
    align-items: center;
    transition: all 0.5s ease;
}

.navCont:hover .nav {
    color: var(--luxy-purple);
}

.navCont::after {
    content: "";
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: var(--luxy-purple);
    border-radius: 50%;
    opacity: 0;
    transform: scale(0.6);
    transition: all 0.3s ease;
    z-index: 0;
}

/* Hover effect */
.navCont:hover::after {
    opacity: 0.15;
    /* soft glow look */
    transform: scale(1);
}

.theme {
    height: 100%;
    display: flex;
    align-items: center;
}

/* [CSS: home] */
.home {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    position: relative;
}

.trumpMeme {
    position: absolute;
    top: 55px;
    right: 10px;
    display: none;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    padding: 10px;
    background-color: var(--color-surface);
    box-shadow: var(--shadow-elevation);
    z-index: 100;
    border-radius: 8px;
}

.trumpMeme video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.header-buttons {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    z-index: 10;
}

.localtime {
    background: none;
    padding: 0.25rem 0.9rem;
    border: 0.0625rem solid rgba(255, 255, 255, .2);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(0.9375rem);
    font-size: 0.9rem;
    border-radius: 0.5rem;
    height: fit-content;
}

.localtime:hover {
    color: var(--luxy-purple) !important;
}

[data-theme="light"] .localtime {
    border: 0.0625rem solid rgba(0, 0, 0, .2);
    background: rgba(0, 0, 0, 0.1);
    color: black;
}

.blog {
    background: none;
    padding: 0.25rem 0.9rem;
    border: 0.0625rem solid rgba(255, 255, 255, .2);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(0.9375rem);
    cursor: pointer;
    font-size: 0.9rem;
    border-radius: 0.5rem;
    height: fit-content;
}

.blog:hover {
    color: var(--luxy-purple) !important;
}

[data-theme="light"] .blog {
    border: 0.0625rem solid rgba(0, 0, 0, .2);
    background: rgba(0, 0, 0, 0.1);
    color: black;
}

.theme {
    background: none;
    padding: 0.25rem 0.9rem;
    border: 0.0625rem solid rgba(255, 255, 255, .2);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(0.9375rem);
    height: fit-content;
}

[data-theme="light"] .theme {
    border: 0.0625rem solid rgba(0, 0, 0, .2);
    background: rgba(0, 0, 0, 0.1);
}

.theme img {
    width: 1.25rem;
    height: 1.25rem;
}

.brief {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.brief p {
    margin: 0;
}

.briefText {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.briefMainText {
    font-size: 40px;
    font-family: 'OswaldBold';
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.3), 0 0 15px rgba(255, 255, 255, 0.2), 0 0 30px rgba(255, 255, 255, 0.1);

}

[data-theme="light"] .briefMainText {
    text-shadow:
        0 1px 2px rgba(0, 0, 0, 0.15),
        0 2px 4px rgba(0, 0, 0, 0.1),
        0 4px 8px rgba(0, 0, 0, 0.05);
}

.briefmoreText {
    font-size: 18px;
}

.bookCall {
    background-color: var(--luxy-purple);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 25px;
    width: fit-content;
}

.bookCall:hover {
    box-shadow: var(--gradient-hover);
}

.briefVideo {
    width: 380px;
    height: 432px;
    background-color: var(--luxy-purple);
    border-radius: 33px;
    box-shadow: var(--shadow-elevation);
    position: relative;
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: cen;
}

.imgCardBg {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 237, 199);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 18px;
}

.imgCardBg img {
    height: auto;
    max-width: 90%;
    border-radius: 0px;
    z-index: 100%;
}

.briefVideoCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-surface);
    box-shadow: var(--shadow-elevation);
    width: 140px;
    height: fit-content;
    gap: 0px;
    box-sizing: border-box;
    position: absolute;
    top: 80px;
    left: -62px;
    z-index: 9000;
    opacity: 0;
    animation: fadeIn 1.2s ease-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.line {
    min-height: 2px;
    width: 100%;
    border-radius: 0px;
    background-color: var(--color-bg);
}

.cardCol {
    display: flex;
    flex: 1;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
    justify-content: space-between;
    gap: 0px;
}

.cardCol p {
    margin: 0;
}

.mainCardColTxt {
    font-size: 18px;
    font-family: 'OswaldBold';
}

.cardColdTxt {
    font-size: 13px;
}

.purple {
    color: var(--luxy-purple);
}

.satisfiedClients {
    background-color: var(--color-surface);
    box-shadow: var(--shadow-elevation);
    border-radius: 30px;
    box-sizing: border-box;
    padding: 10px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    position: absolute;
    bottom: 10px;
    right: -100px;
    opacity: 0;
    z-index: 9000;
    animation: enterSlide 0.6s ease-out forwards;
}

@keyframes enterSlide {
    0% {
        right: -100px;
        opacity: 0;
    }

    100% {
        right: 10px;
        opacity: 1;
    }
}

.noOfClients {
    height: 35px;
    border-radius: 50%;
    padding: 10px;
    background-color: var(--luxy-purple);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoCard {
    height: 55px;
    width: 55px;
    background-color: var(--color-surface);
    box-shadow: var(--shadow-elevation);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    top: 160px;
    right: -28px;
    z-index: 9000;
}

.logoCard img {
    height: 100%;
    width: 100%;
}

/* [CSS: about] */
.about {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: stretch;
    height: 15.75rem;
    margin: 0.625rem;
}

.aboutMe {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    box-shadow: var(--shadow-elevation);
    background-color: var(--color-surface);
    position: relative;
    padding: 0.625rem;
}

.life {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.aboutMeHeader {
    display: flex;
    align-items: center;
    padding-left: 60px;
    position: relative;
    margin-top: 10px;
}

.pfp {
    width: 65px;
    height: 65px;
    overflow: hidden;
    border-radius: 0.75rem;
    background-color: var(--color-bg);
    position: absolute;
    top: -48px;
    left: 30px;
    border: 4px solid #1a1a1e;
}

[data-theme='light'] .pfp {
    border: 4px solid #ffffff;
}

.pfp img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.aboutMeHeaderText {
    margin: 0;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    top: -15px;
    margin-left: 40px;
}

.aboutMeText {
    margin-top: 0.9375rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0px;
    height: 100%;
}

.techstack {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0;
}

.techstack img {
    height: 30px;
    width: 30px;
}

.stackHolder {
    display: flex;
    flex: 1;
}

.currentlyWatching {
    display: flex;
    height: 7.5625rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.currentlyReading {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.book {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.bookCover {
    height: 100%;
    width: 5.625rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow-elevation);
    background-color: var(--color-surface);
}

.bookCover img {
    width: 100%;
    border-radius: 8px;
}

.bookDetails {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.detailHeader {
    padding: 0.625rem;
    box-shadow: var(--shadow-elevation);
    background-color: var(--color-surface);
    width: 100%;
}

.bookName {
    padding: 0.625rem;
    box-shadow: var(--shadow-elevation);
    background-color: var(--color-surface);
    width: 100%;
    display: flex;
    flex: 1;
}

.flixCont {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    height: 100%;
    box-shadow: var(--shadow-elevation);
    background-color: var(--color-surface);
    padding: 0.625rem;
}

.flixThumbnail {
    height: 100%;
}

.flixThumbnail img {
    max-height: 100%;
    width: 11.8125rem;
    border-radius: 8px;
}

.flixDetails {
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.previousFlixs {
    background-color: var(--color-bg);
    width: 100%;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.previousFlixs:hover {
    background-color: var(--luxy-purple);
}

[data-theme='light'] .previousFlixs {
    box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.3);
}

.disc {
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 50%;
    z-index: 998;
}

.disc img {
    max-height: 7.5625rem;
    border-radius: 50%;
    animation: spin 2s linear infinite, pulseGlow 2s ease-in-out infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes pulseGlow {

    0%,
    100% {
        box-shadow: 0 0 0px var(--luxy-purple);
    }

    50% {
        box-shadow: 0 0 10px 5px var(--luxy-purple);
    }
}

.disc img {
    height: 100%;
}

/* [CSS: projects] */
.projects {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
}

.projectsCont {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
}

.project {
    width: 21.459rem;
    height: 16.4rem;
    display: flex;
    padding: 0.625rem;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-surface);
    box-shadow: var(--shadow-elevation);
}

.projectThumbnail {
    position: relative;
    width: 100%;
    min-height: 10.4375rem;
    max-height: 10.4375rem;
    ;
    border-radius: 0.25rem;
    overflow: hidden;
}

.projectThumbnail img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease-out;
}

.project:hover .projectThumbnail img:first-child {
    opacity: 0;
}

.projectThumbnail img:first-child {
    z-index: 2;
    /* first image on top */
    opacity: 1;
}

.projectThumbnail img:last-child {
    z-index: 1;
    /* second image below */
    opacity: 1s;
}

.projectThumbnail::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, #232327 0%, #232327 2%, rgba(35, 35, 39, 0) 55%);
    pointer-events: none;
    transition: transform 0.4s ease;
}

/* [FUNC: On hover, move the overlay down] */
.project:hover .projectThumbnail::after {
    transform: translateY(50px);
}

.projectDescription-techstack {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'OswaldExtraLight';
    margin-top: 10px;
}

.projectDescription {
    display: flex;
    flex: 1;
    align-items: center;
    font-size: 14px;
}

.projectTechstack {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.stack img {
    height: 20px;
}

.projectName-Link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: 10px;
}

.projectName {
    display: flex;
    height: 100%;
    align-items: center;
    font-size: 20px;
}

.projectLink {
    display: flex;
    flex-direction: row;
    height: 1.4625rem;
    align-items: center;
    justify-content: center;
    background-color: var(--color-bg);
    padding: 0.3125rem;
}

.projectLink:hover {
    background-color: var(--luxy-purple);
}

[data-theme='light'] .projectLink {
    box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.3);
}

.linkIcon {
    height: 100%;
    display: flex;
    align-items: center;
}

/* [CSS: services] */
#servicesNav {
    display: none;
}

.services {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
}

.servicesColumn {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
}

.service {
    width: 21.459rem;
    height: 25.5rem;
    display: flex;
    padding: 0.625rem;
    flex-direction: column;
    background-color: var(--color-surface);
    box-shadow: var(--shadow-elevation);
}

.serviceHeader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5625rem;
}

.servicesContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.serviceColumn {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background: var(--color-bg);
    border-radius: 12px;
    box-shadow: rgba(255, 255, 255, 0.1);
    transition: background 0.1s ease, transform 0.3s ease;
}

[data-theme='light'] .serviceColumn {
    box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.3);
}

.serviceColumn:hover {
    background: var(--luxy-purple);
    transform: translateY(-2px);
}

.serviceAmount {
    font-size: 1.1rem;
    font-weight: 700;
    background: linear-gradient(45deg, #05fd58, #c9f3d6);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

[data-theme='light'] .serviceAmount {
    background: linear-gradient(45deg, #05fd58, #354139);
    -webkit-background-clip: text;
    background-clip: text;
}

/* [CSS: contacts] */
.contacts {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contactsLinks-Form {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 12.875rem;
}

.contactsLinks {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
}

.contactForm {
    all: unset;
    border-radius: 0.5rem;
    gap: 0.625rem;
    box-sizing: border-box;
    display: flex;
    flex: 1;
    flex-direction: column;
    max-height: 100%;
    min-height: 100%;
    background-color: var(--color-surface);
    box-shadow: var(--shadow-elevation);
    padding: 0.625rem;
}

.nb {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0.625rem;
    background-color: var(--color-surface);
    box-shadow: var(--shadow-elevation);
    gap: 0px;
    justify-content: center;
}

.socials {
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    max-height: 3.125rem;
    min-height: 3.125rem;
}

.social {
    max-height: 100%;
    max-width: 3.125rem;
    background-color: var(--color-surface);
    padding: 0.3125rem;
    box-shadow: var(--shadow-elevation);
    border-radius: 0.75rem;
}

.social:hover {
    cursor: pointer;
}

.social img {
    width: 100%;
}

/* [CSS: footer] */
.footer {
    margin-bottom: 90px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opensource {
    color: var(--luxy-purple);
    text-decoration: none;
}

.opensource:hover {
    text-decoration: underline;
}

.heart {
    display: inline-block;
    transform-origin: center;
    animation: heartbeat 1.4s ease-in-out infinite;
}

@keyframes heartbeat {

    0%,
    20%,
    60%,
    100% {
        transform: scale(1);
    }

    10% {
        transform: scale(1.28);
    }

    30% {
        transform: scale(1.15);
    }

    50% {
        transform: scale(1.28);
    }

    80% {
        transform: scale(1.15);
    }
}

.email {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.message {
    display: flex;
    flex: 1;
    flex-direction: row;
    width: 100%;
}

.subject {
    display: flex;
    flex: 1;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

input.emailInput,
input.msgInput {
    all: unset;
    display: flex;
    flex: 1;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-radius: 4px;
    padding: 1px 4px;
    background-color: var(--color-bg);
    border-color: rgba(255, 255, 255, .2);
}

[data-theme='light'] input.emailInput {
    box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.3);
    border-color: none;
}

[data-theme='light'] textarea.msgInput {
    box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.3);
    border-color: none;
}

select {
    all: unset;
    display: flex;
    flex: 1;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-radius: 4px;
    padding: 1px 4px;
    background-color: var(--color-bg);
    border-color: rgba(255, 255, 255, .2);
}

[data-theme='light'] select.subjectClass {
    all: unset;
    display: flex;
    flex: 1;
    box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.3);
    background-color: var(--color-bg);
    border-radius: 4px;
    border-color: none;
}

textarea.msgInput {
    all: unset;
    display: flex;
    flex: 1;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-radius: 4px;
    padding: 1px 4px;
    background-color: var(--color-bg);
    border-color: rgba(255, 255, 255, .2);
}

.emailToMe {
    display: flex;
    align-items: center;
    justify-content: end;
}

.sendEmail {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 10px;
    background-color: var(--color-bg);
}

.sendEmail:hover {
    background-color: var(--luxy-purple);
}

/* [Humor: Here we go again for mobile] */
@media (max-width: 768px) {
    .navbar {
        display: flex;
        width: 100vw;
        bottom: 0px;
        border-radius: 12px 12px 0px 0px;
        padding: 15px 0px;
        justify-content: space-around;
        align-items: center;
    }

    .navCont {
        all: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0px;
        font-size: 15px;
    }

    .navCont img {
        height: 24px;
        width: 24px;
    }

    .content {
        margin: 5px 0px !important;
    }

    .home {
        height: fit-content !important;
    }

    .header-buttons {
        right: 0px;
    }

    .brief {
        width: 100%;
        height: fit-content;
        flex-direction: column;
        margin-top: 60px;
    }

    .briefVideoCard {
        left: -10px;
    }

    .logoCard {
        right: -10px;
    }

    .brief> :nth-child(1) {
        order: 2;
    }

    .brief> :nth-child(2) {
        order: 1;
    }

    .briefVideo {
        width: 95%;
    }

    .briefText {
        display: none;
    }

    .username {
        font-size: 5.875rem;
        width: fit-content;
    }

    .bio {
        font-size: 0.8375rem;
    }

    .about {
        flex-direction: column;
        height: fit-content;
        margin-top: 38px;
    }

    .techstack {
        flex-direction: column;
    }

    .stackHolder {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .flixDetails {
        font-size: 13px;
    }

    .disc {
        display: none;
    }

    .currentlyReading {
        font-size: 15px;
    }

    .currentlyReading> :nth-child(2) {
        display: none;
    }

    .bookDetails {
        flex: 1;
    }

    .projectsCont> :nth-child(2),
    .projectsCont> :nth-child(3) {
        display: none;
    }

    .project {
        width: 100%;
        height: fit-content;
    }

    #servicesNav {
        display: flex;
    }

    .fontSize14 {
        font-size: 14px;
    }

    .servicesColumn> :nth-child(2),
    .servicesColumn> :nth-child(3) {
        display: none;
    }

    .service {
        width: 100%;
    }

    .contacts {
        flex-direction: column;
        width: 100%;
        height: fit-content;
    }

    .contactsLinks-Form {
        flex-direction: column;
    }

    .contactsLinks {
        width: 100%;
        height: fit-content;
    }

    .contactForm {
        all: unset;
        border-radius: 0.5rem;
        gap: 0.625rem;
        box-sizing: border-box;
        display: flex;
        flex: 1;
        flex-direction: column;
        height: fit-content;
        background-color: var(--color-surface);
        box-shadow: var(--shadow-elevation);
        padding: 0.625rem;
        width: 100%;
    }

    .socials {
        min-height: auto;
    }

    .footer {
        font-size: 14px;
    }
}